<% include ./partials/admin_header %>
<div class="jumbotron" style="background-color: rgb(252, 147, 147); margin:0px;">
        <div class="container" >
            <h1>WELCOME ADMIN</h1>
        </div>
</div>

        <div class="jumbotron" style="background-color: aqua;margin:0px">
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item"><a href="/admin/view_donations">View donations</a></li>
                    <li class="list-group-item"><a href="/admin/new_camps">Add Camps</a></li>
                </ul>
        </div>

<div class="jumbotron" style="margin:0px">
    <div class="container" style=" margin:10px; width:500px;background-color: rgb(248, 252, 252);height:500px;padding-top:200px;padding-left:150px">
        <h1>Welcome</h1>
    </div>
</div>
<% include ./partials/footer %>