<div class="jumbotron" style="margin-bottom: 0px">
    <h1>Welcome <%= donor.username %>!!!</h1>
</div>
<% include ./partials/header1 %>
<div class="jumbotron" style="margin-bottom: 0px">
    <div class="jumbotron" style="background-color: aqua">
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item"><a href="/donor/<%= donor._id %>/register">register</a></li>
            <li class="list-group-item"><a href="/donor/<%= donor._id %>/donations">view donations</a></li>
        </ul>
    </div>
    <div class="jumbotron" style="background-color: white;">
        <div class="container" style="width:400px;border-top: 8px solid red; border-bottom:8px solid red ; border-radius: 40px 20px; padding-top: 50px;padding: 10px 100px;">
            <h2 style="font-family: algerian-regular">Register here</h2>
            <form action="/donor/<%= donor._id %>/register" method="POST">
                <p><input type="text" placeholder="username" name="username"></p>
                <p><input type="text" placeholder="bloodGroup" name="bloodGroup"></p>
                <p><input type="text" placeholder="camp" name="camp"></p>
                <p><input type="datetime-local" placeholder="date" name="date"></p>
                <p><input type="number" placeholder="qua. in Ltrs" name="quantity"></p>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>