<div class="jumbotron" style="margin-bottom: 0px">
    <h1>Welcome <%= receiver.username %>!!!</h1>
</div>
<% include ./partials/header1 %>
<div class="jumbotron" style="margin-bottom: 0px">
    <div class="jumbotron" style="background-color: aqua">
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item"><a href="/receiver/<%= receiver._id %>/register">register</a></li>
            <li class="list-group-item"><a href="/receiver/<%= receiver._id %>/requests/self">View Request</a></li>
        </ul>
    </div>
    <div class="jumbotron" style="background-color: white;">
        <div class="container" style="width:400px;border-top: 8px solid red; border-bottom:8px solid red ; border-radius: 40px 20px; padding-top: 50px;padding: 10px 100px;">
        <h3 style="font-family: algerian-regular"><span>request for blood</span></h3>
        <form action="/receiver/<%= receiver._id %>/register" method="POST">
            <p><input type="text" placeholder="username" name="username"></p>
            <p><input type="text" placeholder="bloodGroup" name="bloodGroup"></p>
            <p><input type="date" placeholder="till_date" name="date"></p>
            <p><input type="number" placeholder="qua. in Ltrs" name="quantity"></p>
            <input type="submit">
        </form>
    </div>
    </div>
</div>

<% include ./partials/footer %>